<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li>Home</li>
            <li>Write</li>
        </ul>
    </header>
<!-- ejs; 템플릿 엔진으로 서버데이터 집어넣을 수 있음.-->
    <% for (var i = 0; i < posts.length; i++) { %>
        <% if (posts[i].title) { %>
            <h4>할 일 : <%= posts[i].title %></h4>
            <p>마감 : <%= posts[i].date %></p>
        <% } %>
    <% } %>
</body>
</html>