<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>로그인</h4>
    <form action="/api/login" method="POST">
        <div>
            <label>아이디</label>
            <input type="text" name="id">
        </div>
        <div>
            <label>비밀번호</label>
            <input type="text" name="pw">
        </div>
        <button type="submit">제출</button>
    </form>
    <button id="register">회원 가입</button>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $('#register').click((e) => {
        window.location.replace('/register');
    })
</script>